body{
	margin: 0;
	padding: 0;
	font-family: 'montserrat', sans-serif;
	color: #007fff;
	background: linear-gradient(#0000006b, #007fff8f), url(./img1.png);
	background-repeat: no-repeat;
	background-size: cover;
}


main{
	
	margin: 20px auto;
}


main h2{
	font-size: 2em;
	text-align: center;
	color: #fff;
}

main form{
	border-radius: 10px;
	background-color: #fff;	
	margin: 0 auto;
	box-shadow: 0 0 5px rgb(44, 43, 43);
	padding: 20px;
	width: 560px;
	opacity: .95;
}

main form .bloc{
	display: flex;
	flex-wrap: wrap;
	box-sizing: content-box;
}

main form .bloc .boxBloc{
	display: flex;
}


main .bloc label{
	padding: 5px 10px;
}

main .bloc_1, .bloc_2{
	display: flex;
	flex-direction: column;
	margin: 0px;
	 padding: 5px 10px;
	width: 265px;
}

main .bloc_3, .bloc_4,
.bloc_5, .bloc_5,
.bloc_6, .bloc_7,
.bloc_8, .bloc_9{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 5px;
}

main #telephone{
	width: 95%;
	height: 20px;
	padding: 10px;
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 10px;
}


main .bloc input[type="texte"],
input[type="password"], 
input[type="e-mail"],
input[type="tel"]{
	height: 20px;
	padding: 10px;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 20px;
}

main .bloc input[type="date"]{
	height: 20px;
	padding: 10px;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 20px;
	color: #ccc;
}


main .bloc input[type="password"]{
	background-image: url(oeil.png);
	background-repeat: no-repeat;
	background-size:20px ;
	background-position: 98%;
	border: 1.5px solid #ccc; 
}


main .btnEnvoi{
	display: flex;
	justify-content: center;
	margin: 15px;
}

main .btnEnvoi input[type="submit"]{
	padding: 10px 20px;
	font-size: 1.3em;
	width: 150px;
	border-radius: 20px;
	border: none;
	background: linear-gradient(to right, #007fff, #74d0f1);
	color: #fff;
}

main input[type=submit]:hover{
	background-color: #007fff;
	cursor: pointer;
	box-shadow: 0 0 5px 0 rgb(44 43 43 / 30%);
}

@media screen and (max-width: 600px){

	main h2{
		text-align: center;
	}

	main .bloc input[type="texte"] {
    	display: inline-block;
		flex-direction: column;
		height: 20px;
		padding: 10px;
		margin: 0px;
		border: 1px solid #ccc;
		border-radius: 10px;
		font-size: 15px;
	}

	main form{
		border-radius: 10px;
		background-color: #fff;	
		box-shadow: 0 0 20px rgba(44,43,43,0.2);
		padding: 20px;
		width: 280px;
	}
	
	main form .bloc .boxBloc{
		display: flex;
		flex-direction: column;
	}
}

