body{
	margin: 0;
	padding: 0;
	font-family: 'montserrat', sans-serif;
	background-image: url("../img/fond.png");
    background-size: 100%;
    background-position: center;
	color: #229BFF;	
}


main{
		margin: 20px auto;
}


main h2{
	font-size: 2em;
	text-align: center;
	color: #229BFF;
}


main .commercial_form{
	border-radius: 10px;
	background-color: #fff;	
	margin: 0 auto;
	box-shadow: 0 0 20px rgba(44,43,43,0.2);
	padding: 20px;
	width: 560px;
}
main .commercial_form .bloc{
	display: flex;
	flex-wrap: wrap;
	box-sizing: content-box;
}

main form .bloc .blocnomprenom{
	display: flex;
}


main .bloc label{
	padding: 5px 10px;
}

main .bloc_nom, .bloc_prenom{
	display: flex;
	flex-direction: column;
	margin: 0px;
	 padding: 5px 10px;
	width: 265px;
}

main .bloc_mail, .bloc_sexe,
.bloc_birthdate,
.bloc_mdpasse, .bloc_telephone,
.bloc_telwhatsapp, .bloc_attentes,
.bloc_periode{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 5px;
}

.bloc_peridode{
	margin-top: 2px;
	padding-left: 10px;
	padding-top: 5px;
}

.commercial_form input {
    outline: none;
}

.commercial_form input::placeholder {
    color: rgba(0,171,225,0.5)
}

.commercial_form textarea::placeholder {
    color: rgba(0,171,225,0.5)
}

.commercial_form input:focus {
    box-shadow: 0px 0px 3px #229BFF;
}

.commercial_form textarea:focus {
    box-shadow: 0px 0px 3px #229BFF;
}

main .bloc input[type="texte"],
input[type="password"], 
input[type="e-mail"],
input[type="tel"]{
	display: inline-block;
	flex-direction: column;
	height: 20px;
	padding: 10px;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 15px;
}

main .bloc input[type="date"]{
	height: 20px;
	padding: 10px;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 10px;
}


main .bloc input[type="password"]{
	background-image: url(oeil.png);
	background-repeat: no-repeat;
	background-size:20px ;
	background-position: 98%;
	border: 1.5px solid #ccc; 
}

.commercial_form textarea {
    outline: none;
font-family: 'montserrat', sans-serif;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 7px;
    resize: none;
    
}

main .btnEnvoi{
	display: flex;
	justify-content: center;
	margin: 15px;
}

main .btnEnvoi input[type="submit"]{
    cursor: pointer;
	padding: 10px 20px;
	font-size: 1.3em;
	width: 150px;
	border-radius: 20px;
	border: none;
	background-color: #007fff;
	color: #fff;
}

main input[type=submit]:hover{
	box-shadow: 0px 0px 10px #007fff;
    transition: 400ms ease-in-out;
}

/***************PETITS ÉCRANS****************/

@media (max-width: 640px) {
/* main{
		width: 70%;
		height: 100%;
		margin-left: -10px;
	} */
main h2{
	font-size: 2em;
	text-align: center;
	color: #229BFF;
}
main .bloc input[type="texte"] {
    	display: inline-block;
	flex-direction: column;
	height: 20px;
	padding: 10px;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 15px;
    }
main .commercial_form{
	border-radius: 10px;
	background-color: #fff;	
	margin: 0 auto;
	box-shadow: 0 0 20px rgba(44,43,43,0.2);
	padding: 20px;
	width: 300px;
}
main form .bloc .blocnomprenom{
	display: flex;
    flex-direction: column;
}
}